@font-face {
    font-family: 'Iberpangea';
    font-style: normal;
    font-weight: 400;
    src: url(../iberpangeatext-regular) format('woff2');
  }

  @font-face {
    font-family: 'Iberpangea';
    font-style: normal;
    font-weight: 600;
    src: url(../iberpangeatext-smbold) format('woff2');
  }

  @font-face {
    font-family: 'Iberpangea';
    font-style: normal;
    font-weight: 700;
    src: url(../iberpangeatext-bold) format('woff2');
  }